/ name, ocdid, office, contact address, political party, photo

#content
.container-fluid
    %h2.text-center= @representative.name
    %p.text-center= @representative.title
    %p.text-center= @representative.ocdid
    /%p.text-center= @representative.party

    